<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vets App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
            <a class="nav-link" href="#">Manage Consultations</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>Vets App</h1>
    <p> Dear,{{name}} <br> Welcome to Vets App <br>{{email}} </p>
  </div>

  <br>


  <h2>Add Consultation For {{pet['name']}}</h2>
  <p>Pet Details: {{pet['breed']}} | {{pet['age']}} | {{pet['gender']}}</p>
  <form action="/save-consultation" method="post">
    <div class="mb-3 mt-3">
      <label for="problem">Problem:</label>
      <input type="text" class="form-control" id="problem" placeholder="Enter Problem" name="problem">
    </div>
    <div class="mb-3">
      <label for="heartrate">Heartrate :</label>
      <input type="text" class="form-control" id="heartrate" placeholder="Enter Heartrate" name="heartrate">
    </div>
    <div class="mb-3">
      <label for="temperature">Temperature :</label>
      <input type="text" class="form-control" id="temperature" placeholder="Enter Temperature" name="temperature">
    </div>
    <div class="mb-3">
      <label for="medicines">Medicines :</label>
      <input type="text" class="form-control" id="medicines" placeholder="Enter Medicines " name="medicines">
    </div>

    <!--  Hidden Form Fields-->
    <input type="hidden" name="pet_name" value="{{pet['name']}}">
    <input type="hidden" name="pet_id" value="{{pet['_id']}}">
    <input type="hidden" name="customer_id" value="{{pet['customer_id']}}">
    <button type="submit" class="btn btn-primary">Add Consultations</button>
  </form>

</div>

</body>
</html>
